<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title> Login Page </title>
</head>
<body>
    <form method="POST">
        <img src="../static/images/54728743_301906857156949_492772592986357760_n.png" alt="">
        <div>
            <i class="fas fa-user"></i>
            <input placeholder="Username" name="input_username" type="text"> 
        </div>

        <div>
            <i class="fas fa-key"></i>
            <input placeholder="Password" name="input_password" type="password"> 
        </div>
        <button> Login </button>
    </form>
</body>
</html>