html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/small-memory-lp.jpg');
    background-size: cover;
    display: flex;
    justify-content: center; /* Theo truc chinh */
    align-items: center; /* Theo truc phu */
}

form {
    display: flex;
    flex-flow: column;
    height: 45%;
    width: 25%;
    align-items: center;
    background-color: rgba(82, 179, 217, 0.5);
    justify-content: space-around;
    border-radius: 5%;
}

img {
    margin-top: -110px;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

div {
    height: 13%;
    display: flex;
}

input {
    padding-left: 15%;
    width: 100%;
    border-radius: 2rem;
    border: 1px solid white;
    font-size: 15px;
}

i {
    position: absolute;
    margin-left: 0.9%;
    margin-top: 0.6%;
    
}

button {
    height: 10%;
    width: 30%;    
    background-color: #e1f5fe;
    border: 1px solid #e1f5fe;
    border-radius: 0.5rem;
}

button:hover {
    background-color: rgba(197, 239, 247, 1);
    border: rgba(197, 239, 247, 1);
    transition: 0.5s;
}